{% extends "boards/base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'mysite-home' %}">Django Project</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Log in</h3><hr>
            <form method="post" novalidate>
              {% csrf_token %}
                {{ form|crispy }}
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center"><b>
            New to Django Project? </b><a href="{% url 'register' %}">Sign up now</a>
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="#" class="text-muted">Forgot your password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
